
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

header {
    background-color: #2E86C1;
    color: white;
    padding: 15px 0;
    position: sticky;       
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;         
}

nav a:hover {
    color: #D6EAF8;
    text-shadow: 0 0 5px white;
}


main .container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


.left-column {
    width: 48%;
}

.left-column h2 {
    font-size: 32px;
    color: #1C4966;
    margin-bottom: 20px;
    animation: fadeIn 1.2s ease-in; 
    
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}



.left-column p {
    margin: 10px 0;
    line-height: 1.5;
}


.button {
    display: inline-block;
    background-color: #28A745;
    padding: 12px 20px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.3s;
}

.button:hover {
    background-color: #1E7E34;
    transform: scale(1.05);
}


.right-column {
    width: 48%;
}


.card {
    background-color: #F8F9FA;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #2E86C1;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}


footer {
    background-color: #1B4F72;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 480px;
}


footer a {
    color: #AED6F1;
    text-decoration: none;
}


@media (max-width: 768px) {
    main .container {
        flex-direction: column;
    }
    .left-column, .right-column {
        width: 100%;
    }
    nav a {
        margin-left: 10px;
    }
}
